* {
    font-family: Spoqa Han Sans,"Sans-serif";
}

/* top banner */
.tb-wrap {
    width: 100%;
    height: 60px;
    background-image: radial-gradient(circle at 50% 527%,#ff896a,#e23000 119%);
    position: relative;
}

.tb-close {
    width: 60px;
    margin-left: 1120px;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

/* header */
.nvgt a {
    color: white;
}

.nvgt {
    width: 100%;
    min-width: 1184px;
    height: 96px;
    background-color: #000;
    color: #fff;
    z-index: 10;
    /* position: fixed; */
    /* top: 60; */
}

.nvgt-wrap {
    padding-top: 26px;
}

.nvgt-left {
    float: left;
}

.logo {
    display: inline-block;
}

.lf-gnb {
    display: inline-block;
    margin-left: 34px;
    margin-bottom: 18px;
}

.lf-gnb-list {
    float: left;
    padding: 0 5px;
    margin-right: 14px;
    font-size: 18px;
    cursor: pointer;
}

.nvgt-right {
    float: right;
    margin-top: 16px;
}

.nvgt-right li {
    font-size: 14px;
}

.sub-lf {
    display: inline-block;
}

.sub-lf::after {
    content: "";
    width: 1px;
    height: 12px;
    display: inline-block;
    margin: 0 14px 0 20px;
    background-color: #fff;
}

.sub-lf-ls {
    float: left;
}

.sub-lf-ls:nth-child(2) {
    margin-left: 12px;
}

.sub-rgt {
    display: inline-block;
}

.sub-rgt-ls {
    float: left;
}

.sub-rgt-ls:nth-child(2) {
    margin-left: 12px;
}

/* main banner */
.mb-wrap {
    background-color: #fbf5ed;
}

.mb {
    width: 100%;
    min-width: 1184px;
    height: 560px;
    background: url(../image/main_banner.png) 50% 50%/cover no-repeat;
    cursor: pointer;
    margin: 0 auto;
}

/* event section */
.evt-wrap {
    margin-top: 48px;
}

.evt-wrap::after {
    content: "";
    clear: both;
    display: block;
}

.evt-lf {
    width: 576px;
    height: 176px;
    float: left;
    position: relative;
}

.evt-rgt {
    float: left;
}

/* swiper */
.swiper {
    width: 576px;
    height: 300px;
    display: inline-block;
}

.swiper-slide span{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.slide-navigation {
    width: 103px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    position: absolute;
    left: 8px;
    top: 136px;
    z-index: 1;
    justify-content: space-between;
}

.arrow-btn {
    color: #000 !important;
}

/* product section */
.pdt-wrap {
    margin-top: 80px;
}

.pdt-title {
    font-size: 32px;
    line-height: 32px;
}

.pdt-list {
    margin-top: 32px;
    width: 100%;
    height: 1090px;
}

.pdt-list-item {
    float: left;
    width: 376px;
    margin-right: 28px;
    margin-bottom: 61px;
}

.pdt-list-item:nth-child(3n) {
    margin-right: 0;
}

.pdt-list-item > div {
    width: 100%;
    height: 416px;
    background-color: #f9f7f8;
    position: relative;
}

.index-tag {
    position: absolute;
    color: #68d1e6;
    border: 2px solid #68d1e6;
    border-radius: 50px;
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    top: 16px;
    left: 16px;
    font-size: 14px;
    font-weight: bold;
}

.pdt-list-img {
    width: 276px;
    height: 276px;
    margin-top: 70px;
    margin-left: 50px;
    cursor: pointer;
}

.cart-btn {
    position: absolute;
    width: 72px;
    height: 72px;
    box-shadow: 0 25px 10px -15px rgb(0 0 0 / 12%);
    border: 2px solid #eee;
    border-radius: 50%;
    background-color: #fff;
    margin-top: -18px;
    margin-left: 288px;
    display: block;
    cursor: pointer;
}

.cart-btn:hover {
    background-color: #212121;
}

.pdt-item-name {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: bold;
}

.pdt-item-paragraph {
    font-size: 16px;
    color: #9b9b9b;
    cursor: pointer;
}

/* footer section */
.ft {
    margin-top: 150px;
    border-top: 1px solid #bdbdbd;
}


/* ============================= */

/* horizon center */
.inner-box {
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
}

